@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/theme.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    scrollbar-width: thin;
  }
  
  [data-theme="dark"] {
    scrollbar-color: #888888 #4D4D4D;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans), Helvetica, Arial;
  }
}
